
run = "python app.py"
modules = ["python-3.11:v28-20240125-3fb5372"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
