{% extends "base.html" %}

{% block title %}Chat with {{ name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="chat-header">
        <button onclick="window.location.href='/'" class="back-button">Back</button>            
        <h1>{{ name }}</h1>
    </div>
    <ul class="message-list">
        {% for message in messages %}
        <li class="message {% if message.sender == 'You' %}outgoing{% else %}incoming{% endif %}">
            <p class="message-text">{{ message.text }}</p>
            <span class="message-time">{{ message.time }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
