{% extends "base.html" %}

{% block title %}Installed Applications{% endblock %}

{% block content %}
<div class="container" data-section="installed_apps">
    <div class="top-bar">
        <h1>Installed Applications</h1>
        <div class="right-icons">
            <i data-feather="refresh-cw" onclick="refreshData()"></i>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Package Name</th>
                    <th>Install Date</th>
                </tr>
            </thead>
            <tbody>
                {% for app in installed_apps %}
                <tr>
                    <td>{{ app.application_name }}</td>
                    <td>{{ app.package_name }}</td>
                    <td>{{ app.install_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
