{% extends "base.html" %}

{% block title %}Keylogs{% endblock %}

{% block content %}
<div class="container" data-section="keylogs">
    <div class="top-bar">
        <h1>Keylog History</h1>
        <div class="right-icons">
            <i data-feather="refresh-cw" onclick="refreshData()"></i>
        </div>
    </div>
    
    <input type="text" id="search-keylogs" placeholder="Search keylogs" onkeyup="searchKeylogs()">
    <div id="search-results-keylogs"></div>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Time</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                {% for keylog in keylogs %}
                <tr>
                    <td>{{ keylog.application }}</td>
                    <td>{{ keylog.time }}</td>
                    <td>{{ keylog.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
