{% extends "base.html" %}

{% block title %}Chats{% endblock %}

{% block chats_content %}
    <div class="top-bar">
        <h1>Chats</h1>
        <div class="right-icons">
            <i data-feather="edit-2"></i>
            <i data-feather="more-vertical"></i>
        </div>
    </div>

    <input type="text" id="search" placeholder="Search in Messenger">
    <div id="search-results"></div>

    <div class="chat-list">
        {% for contact in contacts %}
        <div class="chat-item">
            <div class="profile-picture">{{ contact['name'][:1].upper() }}</div>
            <div class="chat-details">
                <div class="chat-header">
                    <span class="name">{{ contact['name'] }}</span>
                    <div class="actions">
                        <a href="{{ url_for('chat', name=contact['name']) }}" class="action-link">
                            <i data-feather="message-square"></i>
                        </a>
                        <a href="{{ url_for('sms_thread', name=contact['name']) }}" class="action-link">
                            <i data-feather="message-circle"></i>
                        </a>
                    </div>
                </div>
                {% if contact['last_message'] %}
                <p class="preview">{{ contact['last_message']|truncate(50) }}</p>
                {% endif %}
            </div>
            {% if contact['time'] %}
            <span class="time">{{ contact['time'] }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
