{% extends "base.html" %}

{% block title %}SMS with {{ name }}{% endblock %}

{% block content %}
<div class="container" data-section="sms">
    <div class="top-bar">
        <div class="left-icons">
            <a href="{{ url_for('index') }}" class="back-link">
                <i data-feather="arrow-left"></i>
            </a>
        </div>
        <h1>SMS with {{ name }}</h1>
        <div class="right-icons">
            <i data-feather="refresh-cw" onclick="refreshData()"></i>
        </div>
    </div>

    <div class="messages-container">
        <ul class="message-list">
            {% for sms in sms_messages %}
            <li class="message {% if sms.sms_type == 'sent' %}outgoing{% else %}incoming{% endif %}">
                <div class="message-content">
                    <p class="message-text">{{ sms.text }}</p>
                    <span class="message-time">{{ sms.time }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
